################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/WindowsApp/CalculatorApp/.vs/CalculatorApp/FileContentIndex/5efd3ee3-201e-48c2-973c-9f004bcb3f72.vsidx
*.vsidx
